$mainColor:#060612;
$secColor:#0718CA;
$wordColor:#969397;
$wordColor_gray:#6D7278;
$wordColor_deep:#2F2A30;
$yellow:#FFFF66;

* {box-sizing: border-box;}

html,body{
   padding:0;margin:0;
   font-size:14px;
   color:#fff;
   background:$mainColor url("../images/bg.jpg")no-repeat top center;
   font-family: "-apple-system","PingFang TC","Microsoft JhengHei","Source Sans Pro", Helvetica, sans-serif;
}


p{line-height: 1.8rem;}
img{max-width:100%;}
a{text-decoration:none}
.tc{text-align:center}
.tl{text-align: left}


.store_logo{border:1px solid $yellow;border-radius:5px}

.topBar{
  max-width: 750px;margin:0 auto;
  .logo{display:inline-block;width:50%;}
  .contact_us{display:inline-block;vertical-align: top;width:48%;
  padding-top: 1.2rem;text-align: right;
  a{border:2px solid #EDE515;
    width:100px;height: 36px;float: right;text-align: center;
    padding:0px;line-height:34px;
    display: block;color:#fff;
    &:hover{cursor: pointer}
  }
}
.marquee{margin-top:10px;}
}

.clear-both{clear:both;}

section{margin-top: 1.5rem}

.section_new{background:#051249;margin-top:3rem;position: relative;padding-top: 3rem;padding-bottom: 1rem;
  .title_bg_center{position:absolute;top:-1.5rem;left:0;right:0}
  .bg_arrow_right{position: absolute;right:10%;top:50%}
}

.section_banner{
  .banner{position:relative;
    img{border:4px solid $secColor;border-radius:3px;}

  }
  .banner_title{position:absolute;bottom:-4px;z-index: 2}
  .section_banner_img{position:absolute;right:0;bottom:-5px;}
}
.title_bg{position:relative;
  background: url("../images/title_bg.png")no-repeat left ;width:165px;height:48px;
          span{color:#fff;font-size:1.2rem;display:block;padding-left:4rem;padding-top:.9rem;}
}

.title_bg_center{margin: 0 auto;margin-bottom:1.5rem;}
.title_bg_link{margin:0 auto;position: relative;margin-bottom:1rem;margin-top:1.5rem;}

.area{max-width:750px;width:100%;margin:0 auto;}

.rank_row{border-radius: 5px;margin:0 auto;margin-bottom:15px;width:97%;
  background:#fff;vertical-align: top;margin-top: 3rem;
.rank_box{text-align: center;position: relative;
  display: inline-block;width: 32%;padding:30px 0 20px 0;
    }
  div{margin:0 auto}
    img{max-width:100%}
    
    .rank_box_img{margin-bottom: .8rem;position: relative;
      .rank_box_crown{position: absolute;top:-38px;left:0;right:0;z-index:0}
      img.logo{
        max-width:40%;
        border-radius: .8rem;
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);

      }
      img.rank2{border:3px solid #BEBEBE;}
      img.rank3{border:3px solid #DA8746}
    }
    .rank_box_title{text-align:center;h2{max-width:5.2rem}}
    .rank_box_heart{color: #6D7278;margin-top:5px;
      img{margin-right:5px}
    }
  .rank_no1_bg{position:absolute;top:-25px;left:0;right:0;width:100%;
    img{width: 100%;}}
  .bg-shadown-right,.bg-shadown-left{position: absolute;top:0;
    img{max-width: 100%}}
  .bg-shadown-right{right:-17px}
  .bg-shadown-left{left:-17px;}

   .rank_box_no1{
    .rank_box_img{
      .rank_box_crown{position: absolute;top:-44px;left:0;right:0;z-index:0}
      img.logo{max-width:55%;border:3px solid #F7DA4E}
    }
   }

}

.col-md-6{display:inline-block;width:49.5%;
  vertical-align: top;margin-bottom:1.2rem;}

.col-md-4{display:inline-block;width:32%;
  vertical-align: top;
 margin-bottom:1.2rem;}

 .col-md-3{display:inline-block;width:24%;
  vertical-align: top;
  margin-bottom:1.2rem;}
.hot_app_box{
  position:relative;
  border-radius: .3rem;
  padding:.5rem;
  width:95%;margin:0 auto;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 95%, #e1e5e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 95%,#e1e5e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 95%,#e1e5e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e5e8',GradientType=0 ); /* IE6-9 */
text-align: center;
  .hot_app_box_no{position:absolute;left:0;top:-.8rem;}
  .hot_app_box_img{margin-bottom: .5rem;padding:10px;padding-bottom: 0;
    img{border-radius:.8rem;
     -moz-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     box-shadow:2px 2px 10px rgba(0,0,0,.24);}
  }


  .hot_app_box_img_circle{
    display: inline-block;
    margin-bottom: .5rem;
    width:30%;
    padding:10px;padding-bottom: 0;
    vertical-align: middle;

    img{max-width:55px;
     -moz-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     box-shadow:2px 2px 10px rgba(0,0,0,.24);
     border-radius:5px;}
  }

  .hot_app_box_text{
    display: inline-block;width:65%;vertical-align: top;padding:1.7rem 0 0 .1rem;
  }
.hot_app_box_img_number{
  color:#fff;
  background:#3D4064;
  width:20px;height:20px;
  border-radius: 50%;text-align: center;
  display: block;float: left;margin-top:20%;margin-left:-15px;
}

  h2,p{text-align:center;}
  h3{text-align: left}

}

h2{color:$wordColor_deep;font-size:1.3rem;margin:0 auto}
h3{color:$wordColor_deep;font-size:1.3rem;margin:0 auto}
p{color:$wordColor_gray;margin:0;}

.section_hot_app{background:url("../images/img_right.png")no-repeat 100% 20%}

.section_link{position:relative;width:100%;
  background:#051249 url("../images/bg_blue_left.jpg")no-repeat left bottom;

    .bg_circle_left{position: absolute;left:10%;top:10%}


  padding-bottom: 3rem;margin:0;margin-top:-2rem;padding-top:.5rem;
  .section_link_img{position:absolute;left:2rem;bottom:0}
  
}

.ul_link{list-style:none;padding:0;margin:0;

    img{width:45px;}}
        li{display:inline-block;width:32%;margin-bottom:.3rem;position:relative;
            .icon_tip{position:absolute;left:5px;top:5px;}
          a{display:block;
            text-align:center;margin:5px;
    color:#2F2A30;
    font-weight: bold;
    border-radius: .3rem;
    padding: 1.2rem .2rem;
    width: 95%;
    background: #ffffff;
    font-size:1.2rem;
    background: -moz-linear-gradient(top, #ffffff 95%, #e1e5e8 100%);
    background: -webkit-linear-gradient(top, #ffffff 95%, #e1e5e8 100%);
    background: linear-gradient(to bottom, #ffffff 95%, #e1e5e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e5e8',GradientType=0 );
          }
        
}


footer{
  background:url("../images/footer_star.png")no-repeat 96% 50%;
  margin: 3rem;
  .footer_box{

    border-bottom: 1px solid #6475C9;
    padding-bottom: 1rem;
    .footer_img{display:inline-block;width:15%;
      img{max-width: 100%;}
    }
    .footer_text{
      vertical-align: top;padding-top: 1.5%;line-height: 1.6rem;
      color:#BDBEBE;font-size:.9rem;display:inline-block;width:84%;}
  }
}


.app_download{width:270px;height:63px;display:inline-block;margin:0 auto;
  background: url("../images/button_download.png")no-repeat ;margin-left: 0px}

.button_copy{width:46px;height:43px;display:none;margin:0 auto;
  background: url("../images/icon-copy.png")no-repeat center center ;
color:#080609;text-align: center;font-size:12px;font-weight: bold;
padding-top:27px}


.button_copy_input{
  &:focus{outline: none;}
  border:none;background: transparent;color:#091D8E}

  .button_copy_input{display: none}

.brand_intro{text-align: center;position: relative;
  border-bottom: 1px solid #6475C9;
  h1{font-size:3rem;font-weight: normal;margin:.2rem 0 1.2rem 0;}
  ul{list-style:none;padding:0;margin:0;margin:1rem;
    li{display: inline-block;color:$yellow;margin-right:.5rem;}
    li:nth-child(3){background:url("../images/store_nine/icon-line.png")no-repeat left center;padding-left:20px;}
  }
}


.brand_app{
  padding-top: 1rem;margin-bottom: 0;
  padding-bottom:1.5rem;
  position:relative;
  .brand_app_line{position:absolute;content: '';bottom:5px;
    background: #6475C9;width: 100%;height: 1px;}
  p{color:#fff;text-align: center;padding-bottom: 1rem;font-size:1.2rem;line-height: 1.8rem}
}

.user_evaluation{
  margin-top: 2rem;
  p{color:#fff;font-size: 1.2rem;}
  .evaluation{margin-top: .5rem;margin-bottom: 1rem;
    img{margin-right:10px;}
    color:$yellow;line-height:1.4rem;
  }

}

.user_comment{
  background:rgba(13,27,177,.56);color:#fff;
  border-radius: 3px;padding:10px 8px;text-align: center;
  margin-bottom: .5rem;
  div{display:inline-block;vertical-align: middle;}
  .user_comment_img{width:10%;img{max-width:45px;border-radius:50%;}}
  .user_comment_name{width:15%;}
  .user_comment_txt{width:60%;text-align: left;}
  .user_comment_recommend{width:13%;color:$yellow;
    img{margin-right:5px;}
  }
}



.hot_app_button{
  background:#FFFF1E;
  border:1px solid #AC9011;
  border-radius: 9px;
  width: 100%;
  margin-top:.5rem;margin-bottom: .5rem;
  padding:4px;font-weight: bold;
  text-align: center;
  color:#080609;
}

.col-md-3{
  .hot_app_box .hot_app_box_img_circle{width:20%;padding:5px 5px 5px 0;
    img{width:35px;}}
    .hot_app_box{padding:.8rem;}
    .hot_app_box .hot_app_box_text{padding: .6rem;}
}

.section_recommend{
  margin-top: 2rem;
  background: url("../images/store_nine/icon_circlex3.png")no-repeat 10% 60%;}

.hot_app_box_more{
  padding-bottom:30px;
  position: relative;
  .more_button{position:absolute;z-index:2;bottom:-5px;right:0;}
  .hot_app_box_img{
    img{max-width: 66px;}
  }
  h2,p{text-align: center;}
}

.brand_app_img_3{
  .brand_app_img_3_s{position:absolute;left:0;bottom:0;z-index:2;
    width:40%}
  ul{list-style: none;width: 100%;
    text-align: right;
    margin:0;
    padding:0;
    position: relative;
    
  li{display: inline-block;}
  li img{border-radius: 12px;-moz-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.24);
     box-shadow:2px 2px 10px rgba(0,0,0,.24);}
  li:nth-child(1){width:15%;vertical-align: bottom;}
  li:nth-child(2){width:40%;img{margin-bottom: 1.5rem}}
  li:nth-child(3){width:40%;img{margin-bottom: 1.5rem}}
}
}


.popup {
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  width: 60%;
  position: fixed;
 
  font-size: 1.2rem;
  line-height: 22px;
  color: #fff;
  border-radius: 10px;
  padding: 25px 35px;
 
   }

.popup_code{ top: 30%;}
.popup_copy{ top: 40%;}


#gotop {
position: fixed;display: none;
right: 5%;bottom: 7%;
font-size:23px;font-weight:bold;
text-align:center;padding:5px;
cursor: pointer;
z-index: 9999;
transition:all 0.5s;

background:#051249;

width: 50px;height: 50px;
border-radius:50%;

}


@media(max-width:1280px){
   .section_hot_app{background-size:20%;}
   .section_recommend{background-size:5%;}
   .section_link .section_link_img{display: none}
}


@media(max-width:991px){
  .ul_link li{width:24%;}
  .section_banner_img{width:25%}
}

@media(max-width:768px){
.brand_intro{ul{margin-top: 0rem}}
.user_comment .user_comment_txt {}

  .section_hot_app{background:url("");}
  html,body{font-size:12px;}
  .ul_link li{width:32%;
    a{}
    img{width:40px}
  }

  .title_bg {
    background-size: 100%;
    width: 122px;
    height: 35px;
}
.title_bg span{padding-left: 3.3rem;
    padding-top: .6rem;}
    .app_download{margin-left: 40px}
    .button_copy{display: inline-block;}
    .button_copy_input{display: block;}
}

@media(max-width:640px){

.user_comment{
   padding:5px 4px;
  .user_comment_img{width:15%;img{max-width:30px;}}
  .user_comment_name{width:15%;}
  .user_comment_txt{width:48%;}
  .user_comment_recommend{width:18%;}
}


  section{margin-top:1rem;}

.hot_app_box .hot_app_box_no{width:27px;top:-.5rem;}
h2 {font-size: 1.2rem;}
p{line-height:1.6rem;font-size:.9rem}
.hot_app_box{padding:.5rem;}
.hot_app_box .hot_app_box_img_circle img{max-width:30px;}
.section_new .hot_app_box{padding:.4rem;}
.col-md-4{padding:.2rem;}
.hot_app_box p{height:2rem;}
.hot_app_box .hot_app_box_text {
    width: 65%;
    padding: .7rem 0px 0px .1rem;
}
.hot_app_box .hot_app_box_img_circle{padding:0;margin:0;
  img{margin-top:.5rem; }
}

.ul_link li {
    margin-bottom: 5px;
}
footer .footer_box .footer_text{width: 80%;padding-left:5px;}

.hot_app_box_more{padding:.3rem;padding-bottom:35px;
  .more_button{width:50px;bottom:-2px}
}

.recomand_stars{width:80%;}

.col-md-3{width:49%;}
.col-md-3 .hot_app_box .hot_app_box_text {padding-top:1.3rem}

.app_download{width:175px;height:43px;background-size:100% 100%}
.store_logo{width:80px}
.brand_intro h1{font-size: 2rem;}

}

@media(max-width:480px){
  .section_banner{margin-top:1rem}
  section{width:95%;margin:0 auto;margin-bottom:1.5rem}
  .section_banner .section_banner_img{bottom:3rem;}
  .brand_app_img_3 ul li:nth-child(1) {width:15%;}
  .brand_app_img_3 .brand_app_img_3_s{
    width:30%}
  .brand_app{
  .brand_app_line{bottom:2px;}}
  .user_evaluation {
    margin-top: .5rem;
}

footer{
  background:url("");
}
.footer_box{width:100%}

.col-md-6 {width:49%;}
.rank_row {
  .bg-shadown-right,.bg-shadown-left{
    img{height:150px;}}
    .bg-shadown-right{right:-11px}
    .bg-shadown-left{left:-11px}
  .rank_no1_bg{top:-12px}
  .rank_box_crown img{width:45px}
.rank_box_img .rank_box_crown {
    top: -32px;
}
.rank_box_no1 .rank_box_img .rank_box_crown {

    top: -32px;
}



}
.rank_row .rank_box_heart img{width:12px}

.hot_app_box .hot_app_box_text{width:56%;padding-left:0px;padding-top:5px;vertical-align: middle}
.hot_app_box .hot_app_box_img_circle {width:40%;text-align: right;padding-right:5px;padding-top:5px;}

.hot_app_box .hot_app_box_img_number {margin-left:5px;width:17px;height:17px;}

}

@media(max-width:375px){
    .ul_link li{
    img{width:35px}
  }


.section_new .area .col-md-4 .hot_app_box 
{
  .hot_app_box_img_circle{width:100%;text-align: center;padding:0}
  .hot_app_box_text{width:100%;text-align: center;}
}

}

@media(max-width:360px){
  h2 {font-size: 1.1rem;}
  
  .hot_app_box .hot_app_box_img_circle{
    img{width:25px;}}

    .ul_link li a{
   font-size:1rem;
  }


}

@media(max-width:320px){

.hot_app_box .hot_app_box_text {
    width: 100%;
    padding: 0rem;padding-top: .5rem;
    h2{text-align: center;}
}

.ul_link li{width:49%;}
.brand_intro ul{margin:1rem 0rem}
.section_banner .section_banner_img{bottom:7rem;right:1rem}


.hot_app_box h3{text-align: center}
.hot_app_box .hot_app_box_img_circle{width: 100%}
.hot_app_box .hot_app_box_img_circle img{width: 50px;max-width: 100%;}
.hot_app_box .hot_app_box_img_circle{text-align: center;}
.hot_app_box .hot_app_box_img_number{margin-top:0px}
}